<%- include('../partials/header') %>

<div id="entry-div">
  <h2>Events</h2>
  <% if (user) { %>
    <form id="add-entry-form" method="POST" action="/pets/<%= petId %>/events">
      <label>Event Type:</label>
        <select name="entryEvent">
          <option value="seizure">Seizure</option>
          <option value="other">Other</option>
      </select>
      <label>Date:</label>
      <input name="entryDate" type="date">
      <label>Time:</label>
      <textarea name="entryTime"> </textarea>
      <label>Event Duration:</label>
      <textarea name="duration"></textarea>
      <label>Details:</label>
      <textarea name="details"></textarea>
      <input type="submit" value="Add Event">
    </form>
<% } %> </div>

<%- include('../partials/footer') %>
