*{
  color: #222831;
  font: 24px "Abel", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
body {
  padding: 20px;
  background: #E8E8E8;
  font: 16px "Abel", Helvetica, Arial, sans-serif;
  margin: 10px;
}

.w3-top.w3-bar.w3-wide.w3-card{
  padding-top: 30px;
  position: relative;
}

.w3-bar{
  background-color: #E8E8E8;
  width: 100%;
}

.w3-hide-small.w3-text-light-grey{
  font: 2em "Abel", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.w3-bar-item.w3-button{
  font-size: 28px;
}
#yourPetList{
  border: 1pt #222831 solid;
}

img#logo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}
footer img#footLogo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  max-width: 60px;
  height: auto;
}
a {
  text-transform: uppercase;
  color: #222831;
}

#home {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background: #30475E;

}
#home:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#home .home-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
.home-container{
  border: 1px #222831;
}
#home h3 {
  background: rgba(255, 255, 255, 0.1);
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
 
}
#home h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
}
#home h2 {
  margin-bottom: 40px;
  font-size: 24px;
}
.allPetPage{
  background-color: #30475E;
  padding-top: 30px;
}
.petDetailPage{
  background-color: #30475E;
  padding-top: 30px;
}
.card-img-top{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-group{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.card{
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  padding: 30px;
}
.card-body{
  text-align: center;
  background-color: #E8E8E8;
}
#showName{
  font-size: 2em;
}
.flex-container {
  margin: auto;
  max-width: 100rem;
  height: 100%;
}
.col-8{
  padding-left: 100px;
}
.col-8 > h5{
  color: #E8E8E8;
  font: 3em "Abel", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.eventTable{
  text-align: center;
  font-size: 3em;
}
table{
  justify-content: center;
}
td.event-user > img{
  border-radius: 50%;
  max-width: 40px;
}
.table-responsive{
  background-color: #E8E8E8;
  border-radius: 25px;
  padding: 30px;
}
.addEventLink{
  text-align: center;
  background-color:#E8E8E8;
}
.removeMe{
  display: flex;
  flex-direction: row-reverse;
}
.removeMe > button{
  background-color: #f0545485;
  color: white;
}
footer>div{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media screen and (min-width: 640px){
  .flex-container {
      display: flex;
  }    
}
@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #home h3 {
    font-size: 22px;
  }
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-height: 500px) {
  #home {
    height: 150vh;
  }
}
