<%- include('../partials/header') %>
<title>Pet List</title>

<div class="row" style="justify-content: center">
    <div class="card col-md-3 mt-100">
    <div class="card-content">
    <div class="card-body p-0">
    <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
    <div class="card-title"> <%petName> <br /> </div>
    <div class="card-subtitle">
    <p> <small class="text-muted"> </small> </p>

</div>
</div>
</div>
</div>
<-- add edit and remove here -->