
<footer>
    <div class="w3-top w3-bar w3-wide w3-card">Stay tuned for more features
        <div><img id="footLogo" src="https://i.imgur.com/frmvBKF.png">
        </div>
    </div>
</footer>
</body>
</html>